html, body {
    background-color: rgb(197, 181, 214);
  }
h1 {
  font: italic small-caps bold 30px/40px Georgia, serif;
  text-align: center;
}
  
h2 {
  font: 25px Times, sans-serif;
  text-decoration: underline;
}
h2 {
  font: 25px Times, sans-serif;
}
h3 {
  font: 20px Times, sans-serif;
  text-decoration: underline;
}
p {
  font: 20px Times, sans-serif;
}
img {
  border-radius: 10px;
}
a {
  text-decoration: none;
  font-size: 30px;
  text-align: center;
}
ul li {
  background-color: blanchedalmond;
  padding: 20px;
  margin: 2px;
}
ol li {
  background-color: rgb(189, 228, 189);
  padding: 20px;
  margin: 2px;
}
nav {
background-color: blanchedalmond;
padding-left: 4px;
margin-left: 200px;
margin-right: 200px;
}

header {
background-color: rgb(169, 201, 185);
padding-left: 4px;
}
main {
  background-color: rgb(133, 167, 196);
  padding-left: 4px;
}