html, body {
    background-color: rgb(213, 202, 224);
  }
h1 {
  font: Georgia bold 30px/40px, serif;
  text-align: center;
}
img {
  border-radius: 10px;
}
a {
  text-decoration: none;
  font-size: 30px;
  align-content: center;
  color: bisque;
  text
}
nav {
background-color: rgb(42, 30, 56);
text-align: center;

}
main {
  align-content: center;
  margin: 20px;
  padding: 20px;
  border: 2px solid black;
  text-align: center;
  font-size: 16px;
  background-color: rgb(161, 143, 170);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header {
  background-color: blanchedalmond;
  align-content: center;
  margin: 20px;
  padding: 20px;
  border: 2px solid black;
}
#aspectratio {}
